@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-primary: "Montserrat", sans-serif;
  --font-max: 36px;
  --font-med: 21px;
  --font-min: 16px;
  --font-max-mov: 21px;
  --font-med-mov: 18px;
  --font-min-mov: 16px;
  --font-footer: 14px;
  --black-900: #1b1b1b;
  --black-500: #202020;
  --black-400: #3d3d3d;
  --black-300: #454545;
  --black-200: #4f4f4f;
  --black-100: #c5c5c5;
  --blue-dark-900: #080e1c;
  --blue-dark-500: #1a2d4f;
  --blue-dark-400: #264782;
  --blue-dark-300: #2851a5;
  --blue-dark-200: #2a64cb;
  --blue-light-500: #1fbbec;
  --blue-light-400: #3dc8f3;
  --blue-light-300: #80dbf9;
  --blue-light-200: #bceafb;
  --grey-ligth: #f3f2f1;
  --red-600: #d82c2f;
  --red-500: #e9494b;
  --red-400: #f37678;
  --red-300: #f9a8a9;
  --red-200: #fccccd;
  --purple: #9400df;
  --white: #fcfcfc;
  --green-wa: #52cb60;
  --gold: #cda434;
}
* {
  font-family: var(--font-primary);
}
.c-wrapper {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--blanco);
  color: var(--blanco);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}
p {
  font-size: var(--font-min);
}
ul li {
  font-size: var(--font-min);
}
.btn-danger {
  background-color: var(--red-500) !important;
  border-color: var(--red-500) !important;
}
.bg-dark-blue {
  background-color: var(--blue-dark-500);
}
.bg-red {
  background-color: var(--red-500);
}
.hr-title {
  display: block;
  width: 100px;
  height: 2px;
  left: 0;
  background: var(--blue-light-500);
  margin: auto;
  margin-bottom: 30px;
}
.text-color-primary {
  color: var(--blue-dark-500);
}
.text-color-secondary {
  color: var(--red-500);
}
.text-color-blue-light {
  color: var(--blue-light-500);
}
.font-size-max {
  font-size: var(--font-max);
}
.font-size-med {
  font-size: var(--font-med);
}
.font-size-min {
  font-size: var(--font-min);
}
.line-height-50 {
  line-height: 55px;
}
.highlight-txt-bg-light {
  color: var(--red-500);
  font-weight: 600;
}
.navbar {
  font-size: var(--font-min);
  font-weight: 500;
  margin-bottom: 0;
  transition: 0.3s;
  font-size: var(--font-min);
}
.navbar .navbar-brand {
  width: 95px;
  padding: 0;
}
.navbar .btn i {
  font-size: 12px;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--black-500) !important;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--blue-dark-500) !important;
  font-weight: 600;
  transition: 0.3s;
}
.posicion-ancla {
  position: absolute;
  margin-top: -60px;
  width: 0;
  height: 0;
}
.hero {
  width: 100%;
  height: 680px;
  position: relative;
  overflow: hidden;
  background: var(--blue-dark-500);
  color: var(--white);
}
.hero iframe {
  overflow: hidden;
  height: 500px;
  background: rgba(26, 45, 79, 0.85);
  border-radius: 10px;
  padding: 15px;
}
.hero .bg-hero-img {
  position: absolute;
  width: auto;
  height: 680px;
  opacity: 0.5;
  top: 0;
  z-index: 0;
  animation: zoom 30000ms infinite;
}
.hero .redes svg {
  width: 15px;
  fill: #ffffff;
}
.hero .overlay {
  width: 100%;
  height: 680px;
  padding-top: 120px;
  background: rgba(26, 45, 79, 0.9);
  position: absolute;
  z-index: 2;
}
.cualidades {
  scroll-snap-align: start;
  position: relative;
  padding: 5% 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  z-index: 2;
}
.cualidades img {
  width: 100%;
}
.cualidades .img-cualidades-mov {
  width: 70%;
  margin: auto;
}
.cualidades .card-cualidades {
  width: 100%;
  color: var(--blue-dark-500) !important;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
}
.cualidades i {
  background: var(--red-500);
  font-size: 30px;
  padding: 15px;
  margin-bottom: 15px;
  color: var(--white);
  border-radius: 50%;
}
.cualidades .icono {
  width: 75px;
  margin-right: 20px;
  z-index: 5;
}
.previene {
  position: relative;
  padding: 5% 0;
  background: var(--grey-ligth);
  color: var(--black-200);
  overflow-x: hidden;
  z-index: 0;
}
.previene .card {
  position: relative;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 170px;
  background: var(--blue-dark-500);
  color: var(--white);
  border-radius: 10px;
  z-index: 1;
}
.previene .card .card-header {
  text-align: center;
  font-weight: 600;
  border-bottom: none;
  border-radius: 20px;
  margin-top: 5px;
  padding-top: 20px;
  background: none;
  color: #1fbbec;
}
.previene .card .card-body {
  padding-top: 0;
}
.previene img {
  width: 70px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 26px;
}
.previene i {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  color: var(--white);
  border-radius: 50%;
  font-size: 26px;
}
.contenedor-diferenciales-beneficios {
  padding: 5% 0;
}
.diferenciales {
  top: 25% !important;
  overflow-x: hidden;
}
.card-diferencial {
  font-size: var(--font-med);
}
.card-diferencial {
  background: var(--blue-dark-500);
  color: var(--white);
  border-radius: 10px;
  margin-bottom: 7%;
  padding: 60px 30px 30px 30px;
}
.card-diferencial .item {
  margin-bottom: 30px;
}
.card-diferencial i {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: var(--white);
  background: var(--red-500);
  border-radius: 50%;
}
.card-diferencial span {
  display: inline-block;
  text-align: center;
  border: solid 1px var(--white);
  border-radius: 50%;
}
.beneficios {
  position: relative;
  overflow-x: hidden;
  z-index: 2;
}
.card-beneficios {
  padding: 20px;
  color: var(--black-500);
  text-align: center;
  font-size: var(--font-med);
  border-radius: 10px;
  margin-bottom: 0;
}
.card-beneficios img {
  width: 100px;
  margin: auto;
}
.soluciones {
  position: relative;
  /* overflow-x: hidden; */
  padding: 8% 0;
  background-color: var(--grey-ligth);
}
.soluciones .card {
  margin-bottom: 50px;
}
.soluciones .card,
.soluciones .card .card-body {
  background-color: transparent;
  border: none;
  padding: 0;
}
.soluciones .contenedor-img {
  position: -webkit-sticky;
  text-align: center;
  position: sticky;
  top: 20%;
  z-index: 2;
}
.soluciones .contenedor-img img {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.soluciones .card .card-header {
  background: transparent;
  border: none;
}
.soluciones .card .card-header p {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-med);
  color: var(--blue-dark-500);
}
.soluciones .card .pro-item-tutto {
  margin: 0;
  padding: 5px;
  margin-bottom: 0;
}
.soluciones .card .pro-item-tutto strong {
  font-weight: 500;
}
.soluciones .card .card-body .pro-item-tutto .img-icono-check {
  width: 20px;
  margin-top: 0px;
}
.soluciones .card .card-body .pro-item-tutto p strong {
  text-align: left;
  font-size: var(--font-med);
}
.soluciones .card .card-body .pro-item-tutto p {
  text-align: left;
  margin-bottom: 0;
}
.testimonios {
  padding: 5% 0;
  overflow-x: hidden;
}
.testimonios .contenido-testimonios {
  position: relative;
  text-align: center;
  padding: 5%;
  color: var(--white);
  border-radius: 10px;
  z-index: 2;
}
.testimonios .contenido-testimonios p.comentario {
  position: relative;
  background: var(--blue-dark-500);
  font-size: var(--font-med);
  padding: 40px 20px;
  border-radius: 10px;
}
.testimonios .contenido-testimonios p.comentario .calificacion {
  font-size: 13px;
  color: var(--gold);
}
.testimonios .contenido-testimonios p.comentario::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 20px;
  right: -10px;
  top: 30%;
  background-color: var(--blue-dark-500);
  transform: rotate(45deg);
}
.testimonios .contenido-testimonios img {
  width: 60%;
  background: var(--white);
  border-radius: 10px;
}
.testimonios .nombreUsuario {
  color: var(--black-500);
}
.testimonios .btn-slide {
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  background: var(--blue-light-500);
  color: var(--white);
  border-radius: 50%;
  transition: 0.3s;
}
.testimonios .btn-slide:hover {
  background: var(--blue-dark-200);
  transition: 0.3s;
}
.agenda {
  position: relative;
  padding: 5% 0;
  overflow-x: hidden;
  background: var(--blue-dark-500);
  color: var(--white);
  z-index: 5;
}
footer {
  position: relative;
  overflow-x: hidden;
  background: var(--black-500);
  color: var(--white);
  z-index: 2;
}
footer .subFooter {
  position: relative;
  background: var(--black-900);
  padding: 15px 0;
  z-index: 2;
}
footer .subFooter p {
  text-align: center;
  font-size: 13px;
  color: var(--black-200);
  margin: 0;
}
footer .info-footer {
  padding: 70px 0 20px 0;
  color: var(--black-100);
}
footer .info-footer h3 {
  color: var(--black-200);
  font-size: var(--font-med-mov);
  margin-bottom: 30px;
  font-weight: 600;
}
footer .info-footer p {
  font-size: var(--font-footer);
  margin-bottom: 10px;
}
footer .info-footer p span.bullet {
  padding-left: 22px;
}
footer .info-footer p.terminos-legales {
  margin-top: 50px;
  color: var(--black-300);
}
footer .info-footer p svg {
  width: 18px;
  height: 13px;
  fill: var(--black-200);
}
footer .info-footer hr {
  border-top: solid 1px var(--black-900);
}
footer .alinear-contenido-redes-footer {
  text-align: right;
}
footer .redes-footer {
  padding-top: 0;
}
footer .redes-footer .img-logo-tutto img {
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
}
.redes-footer svg {
  width: 15px;
  height: 15px;
  fill: var(--white);
}
footer .redes-footer .btn-group.gap-3 {
  padding: 10px;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.circles li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: url(../media/img/comun/animacion-bg-tutto.png);
  background-size: cover;
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 0;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.btn-wa {
  position: fixed;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 50%;
  background: var(--green-wa);
  color: var(--white);
  border: solid 2px #ffffff;
  bottom: 30px;
  right: 30px;
  z-index: 15;
}
.btn-wa svg {
  fill: var(--white);
  width: 25px;
}
.btn-wa:hover {
  background: var(--green-wa);
  color: var(--white);
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media (max-width: 400px) {
  .hero .row {
    margin-top: 45px !important;
  }
  footer .alinear-contenido-redes-footer {
    text-align: center;
  }
}
@media (max-width: 500px) {
  ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    text-align: center;
  }
  nav .accesos-principales-movil {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .font-size-max {
    font-size: var(--font-max-mov);
  }
  .font-size-med {
    font-size: var(--font-max-mov);
  }
  .font-size-min {
    font-size: var(--font-min-mov);
  }
  .hero .row {
    margin-top: 80px;
    padding-top: 6%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .line-height-50 {
    line-height: 30px;
  }
  .hero .col-sm-5 {
    padding: 0;
  }
  .hero {
    height: 1020px;
  }
  .hero .overlay {
    height: 1020px;
    padding-top: 40px;
  }
  .hero img {
    width: auto !important;
    height: 100%;
    margin-left: -250%;
  }
  .hero iframe {
    padding: 15px 0;
    margin-top: 40px;
  }
  .cualidades {
    padding: 15% 0;
    overflow-y: hidden;
  }
  .cualidades .card-cualidades {
    padding: 15px 20px;
    background: none;
    box-shadow: none;
  }
  .cualidades .icono {
    width: 50px;
    margin-top: -10px;
    margin-right: 20px;
  }
  .cualidades .img-cualidades-mov {
    width: 250px !important;
    margin: auto;
  }
  .previene .card {
    height: auto;
  }
  .card-diferencial {
    padding: 20px;
    font-size: var(--font-min-mov);
  }
  .card-diferencial .col-sm-10 {
    padding: 0;
  }
  .card-diferencial i {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .card-diferencial .item {
    margin-bottom: 15px;
  }
  .card-diferencial .item .col-1 {
    padding: 0px;
  }
  .beneficios .col-sm-10 {
    padding: 0;
  }
  .beneficios .card-beneficios {
    padding: 20px 0px;
  }
  .beneficios .card-beneficios span {
    display: table;
    font-size: 17px;
    width: 100%;
  }
  .beneficios .card-beneficios br {
    display: none;
  }
  .soluciones .card {
    margin-bottom: 20px;
  }
  .soluciones .card .pro-item-tutto {
    padding: 0;
    margin-bottom: 15px;
  }
  .soluciones .card .card-header {
    padding: 15px 0;
  }
  .soluciones .card .card-header p {
    font-size: var(--font-med-mov);
  }
  .soluciones .col-1 {
    padding: 0;
  }
  .soluciones p {
    font-size: var(--font-min-mov);
  }
  .soluciones .card .card-body .pro-item-tutto p strong {
    display: table;
    width: 100%;
    font-size: var(--font-min);
  }
  .soluciones .column-reverse-mov {
    flex-direction: column-reverse;
  }
  .testimonios .contenido-testimonios {
    padding: 5% 0;
  }
  .testimonios .contenido-testimonios .carousel.pointer-event {
    padding: 0;
  }
  .testimonios .contenido-testimonios .carousel.pointer-event .col-sm-6 {
    padding: 0;
  }
  .testimonios .contenido-testimonios p.comentario {
    font-size: var(--font-min-mov);
    padding: 20px;
  }
  .testimonios .contenido-testimonios p.comentario::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 15px;
    height: 15px;
    right: 50%;
    left: auto;
    bottom: -6px;
    top: auto;
    background-color: var(--blue-dark-500);
    transform: rotate(45deg);
  }
  .testimonios .contenido-testimonios img {
    width: 50%;
    margin-top: 10px;
  }
  footer .redes-footer {
    padding-top: 40px;
  }
  footer .alinear-contenido-redes-footer {
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    text-align: center;
  }
  nav .accesos-principales-movil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .font-size-max {
    font-size: var(--font-max-mov);
  }
  .font-size-med {
    font-size: var(--font-med-mov);
  }
  .font-size-min {
    font-size: var(--font-min-mov);
  }
  .hero .row {
    padding-top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .line-height-50 {
    line-height: 30px;
  }
  .hero .col-sm-5 {
    padding: 0;
  }
  .hero {
    height: 700px;
  }
  .hero .overlay {
    height: 700px;
    padding-top: 65px;
  }
  .hero img {
    width: auto !important;
    height: 100%;
    margin-left: -50%;
  }
  .hero iframe {
    padding: 15px 0;
    margin-top: 40px;
  }
  .cualidades .col-sm-6,
  .cualidades .col-sm-3 {
    width: 33.33%;
  }
  .cualidades .card-cualidades {
    background: none;
    box-shadow: none;
    padding: 20px;
  }
  .cualidades .icono {
    width: 55px;
  }
  .previene .col-sm-3 {
    width: 50%;
  }
  .contenedor-diferenciales-beneficios .card-diferencial {
    padding: 20px;
  }
  .contenedor-diferenciales-beneficios .diferenciales {
    top: 20% !important;
  }
  .contenedor-diferenciales-beneficios .card-diferencial .col-sm-10 {
    width: 100%;
    padding: 0;
  }
  .contenedor-diferenciales-beneficios .card-diferencial .item {
    margin-bottom: 10px;
  }
  .contenedor-diferenciales-beneficios .card-diferencial .item .col-1 {
    padding: 0;
  }
  .contenedor-diferenciales-beneficios .card-diferencial .item .col-1 i {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: var(--font-min-mov);
  }
  .contenedor-diferenciales-beneficios .card-diferencial .item .col-11 {
    font-size: var(--font-min-mov);
  }
  .col-sm-6.col-tablet-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-6.col-tablet-6 .col-sm-10 {
    width: 100%;
  }
  .testimonios {
    padding: 5% 0 0 0;
  }
  .testimonios .contenido-testimonios {
    padding: 5% 0;
  }
  .testimonios .col-sm-7 {
    width: 100%;
  }
  .testimonios .col-sm-3 {
    width: 100%;
  }
  .testimonios .contenido-testimonios .carousel.pointer-event {
    padding: 0;
  }
  .testimonios .contenido-testimonios .carousel.pointer-event .col-sm-6 {
    padding: 0;
  }
  .testimonios .contenido-testimonios p.comentario {
    font-size: var(--font-min-mov);
    padding: 20px;
  }
  .testimonios .contenido-testimonios p.comentario::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 15px;
    height: 15px;
    right: 50%;
    left: auto;
    bottom: -6px;
    top: auto;
    background-color: var(--blue-dark-500);
    transform: rotate(45deg);
  }
  .testimonios .contenido-testimonios img {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .testimonios .carousel-control-prev-icon,
  .testimonios .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }
  .testimonios .btn-slide {
    width: 35px;
    height: 35px;
    font-size: 35px;
    line-height: 33px;
  }
  .agenda .btn-danger {
    font-size: var(--font-min-mov);
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
  footer .redes-footer {
    padding-top: 40px;
  }
  footer .col-sm-4 {
    width: 50%;
  }
  footer .alinear-contenido-redes-footer {
    text-align: right;
  }
}

@media (min-width: 1440px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.py-0 {
    margin-top: 0;
  }
  .hero img {
    width: 150%;
  }
}
